@import "variables-styles";

.button {
  display: inline-block;
  border-radius: 15px;
  text-shadow: 0 2px 10px #000;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  background-color: $cyan;
  transition: background-color linear;
  color: $white;
  border: medium $grey;
  text-decoration: none;

  &:hover {
    font-weight: bold;
  }
}

.button-submit {
  display: inline-block;
  background-color: $brown;
  font-size: 1vw;
  text-align: center;
  padding: 35px 25px 25px;
  text-transform: uppercase;

  &:hover {
    background-color: lighten( $brown, 20% );
  }
}

.button-info {
  font-size: 16px;
  padding: 10px 40px;
  margin-bottom: 17vw;
  margin-top: 0px;

  &:hover {
    background-color: $light;
  }
}

@media screen and (min-width: 767px) {
  .button-submit {
    font-size: 50px;
  }
}
