@import "variables-styles";
@import "mixins-styles";

/* START: Footer style */

footer  .media h4 {
  text-align: center;
  color: $white;
  letter-spacing: 4px;
  word-spacing: 4px;
}

.media {
  background-color: $brown;
  margin: 1% 0 0 0;

  h4 {

    img {
      margin: 0;
      padding: 0;
    }
  }
}

.media-icons {
  display: flex;
  justify-content: center;
  padding: 1%;

  a {
    padding: 1%;
  }
}

.media img {
  margin: 5% 5%;
  transition: all 0.5s ease;

  &:hover {
    transform: rotate(-30deg);
  }
}

.rotate {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg);
}

#mate1 {
  transition: transform ease-in 2s;
}

#mate2 {
  transition: transform 2s ease-in 2s;
}

#mate3 {
  transition: transform 2s ease-in 4s;
}

#mate4 {
  transition: transform 2s ease-in 6s;
}


/*END: style footer*/

.caption h3 {
  text-align: center;
}

.thumbnail {
  border: none;
  text-align: justify;

  img {
    max-width: 254.5px;
    max-height: 254.5px;

  }
}

.thumbnail a > img {
  padding-bottom: 2%;
}

#paw {
  display: inline;
}