@import "variables-styles";
@import "mixins-styles";

/* START: Footer style */

footer  .media h4 {
  text-align: center;
  color: $white;
  letter-spacing: 4px;
  word-spacing: 4px;
}

.media {
  background-color: $brown;
  margin: 1% 0;
}

.media-icons a {
  padding: 1%;
}

.media-icons {
  display: flex;
  justify-content: center;
  padding: 1%;
}

.media img {
  margin: 5% 5%;
  transition: all 0.5s ease;
}

.media img:hover {
  transform: rotate(-30deg);
}

/*END: style footer*/

.caption h3 {
  text-align: center;
}

.thumbnail {
  border:none;
}