@import "variables-styles";
@import "mixins-styles";

/*START func-list*/

.func-list {
  letter-spacing: 4px;
  word-spacing: 4px;

  div {
    display: block;
    height: 359px;
    margin: 1% auto;
    background-size: cover;
    position: relative;

  }
  h1 {
    font-weight: 900;
    color: $white;
    background: rgba(0, 0, 0, 0.75);
  }
}

.text-list {
  background: rgba(255, 255, 255, 0.75);
  color: black;
  @include func-header(auto, 5%, 5%, 5%);
}

#text-list2 {
  @include func-header(10%, 10%, auto, 10%);
}

.list1 {
  background: $white url("../images/func-list/cat_teddy.jpg");

  h1 {
    @include func-header(10px, 10px, auto, 10px);
  }
}

.list2 {
  background: $white url("../images/func-list/fox.jpg");

  h1 {
    @include func-header(auto, 10px, 5px, 10px);
  }
}

.list3 {
  background: $white url("../images/func-list/pupper.jpg");

  h1 {
    @include func-header(10px, 10px, auto, 10px);
  }
}

@media screen and (min-width: 801px) and (max-width: 1201px) {
  .func-list {

    div {
      display: block;
    }
  }

  .list1 {
    padding-left: 5%;
    float: left;
  }

  .list2 {
    padding-right: 5%;
    float: right;
  }

  .list3 {
    clear: both;
  }

}
@media screen and (min-width: 1201px)
{

  .func-list {
    display: flex;
    flex-direction: row;
    margin: auto;

    div {
      transition: all 1s;

      &:hover {
        transform: scale(1.2);
        z-index: 1;

        .text-list {
          visibility: visible;
        }
      }
    }
  }

  .text-list {
    visibility: hidden;
  }

  .list1 {

    &:hover {
      transform-origin: left 2px;
    }
  }

  .list2 {

    &:hover {
      transform-origin: center 0;
    }
  }

  .list3 {

    &:hover {
      transform-origin: right 2px;
    }
  }
}

/*END: styli func-list*/