#form-submit {

  .start {
    background: navajowhite url('../images/game-textures/sidewalk.jpg') repeat;
  }

  .start-text {
    color: black;
    background: rgba(255, 255, 255, 0.75);
  }

  .street {
    background: #698799 url('../images/game-textures/street.jpg') repeat;
  }

  .water {
    background: $cyan url('../images/game-textures/water.jpg') repeat;
  }

  .mirror {
    img {
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      transform: scale(-1, 1);
    }
  }
}

