@import "variables-styles";

#form-submit {

  .start {
    background: navajowhite url('../images/game-textures/sidewalk.jpg') repeat;
    background-size: contain;
  }

  .start-text {
    color: black;
    background: rgba(255, 255, 255, 0.75);
  }

  .street {
    background: #698799 url('../images/game-textures/street.jpg') repeat;
    background-size: contain;
  }

  .water {
    background: $cyan url('../images/game-textures/water.jpg') repeat;
    background-size: contain;
  }

  .driftingWood {
    background: url('../images/game-textures/wood-water.png') no-repeat;
    background-size: contain;
  }

  .mirror {
    img {
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      transform: scale(-1, 1);
    }
  }
  td {
    height: 49px;
    overflow: hidden;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    margin: auto;
    vertical-align: middle;
    text-align: center;
  }

  .table > tbody > tr > td {
    min-height: 50px;
  }

  .start-text {
    td {
      font-size: 2vmin;

    }
  }




  .GameTitle{
    color:#4cae4c;
    font-family: fantasy;
    padding: 30px 40px 30px;
    margin: 40px;
    border: solid 20px;
    position: relative;
    text-align: center;
    border-color: #4cae4c;
    /*background-color: #3c3c3c;*/
    border-radius: 15px;
  }


  #CloseInstruction{
    width: 80px;
    height: 80px;
    border-radius: 15px;
    background-color: #4cae4c;
    color:white;
    font-size:20px;
    padding: 2px 2px 2px;

  }

  .Rule1{
    color:black;
    font-size:25px;
    font-family: fantasy;
    padding: 30px 40px 30px;
    margin: 40px;
    position: relative;
    text-align: center;
    font-family: Dialog;

  }

  .GameControl{
    color:black;
    font-size:35px;
    font-family: fantasy;
  }

  .KeyControls{
    color:black;
    font-size:5px;
    font-family: fantasy;
    padding: 10px;
  }

  .DeadComunicate{
    color:black;
    font-size:35px;
    font-family: fantasy;


    padding: 30px 40px 30px;
    margin: 40px;
    border: solid 20px;
    position: relative;
    text-align: center;
    border-color: #4cae4c;
    border-radius: 15px;
  }

















}

