@import "variables-styles";
@import "mixins-styles";

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  width: 100%;
}

.navbar-default {
  background-color: $brown;
  border: none;
}

.navbar-brand {
  padding: 0px;
  display: flex;
  align-items: center;
  font-family: $head-font;
  font-size: 1.6em;
  img {
    width:100%;
    max-width:40px;
    //padding: 0.2vw;
  }
  span {
    padding: 0 0.7vw;
  }
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: $cyan;
}
.navbar-default .navbar-toggle {
  border-color: $cyan;
  .icon-bar {
    background-color: $cyan;
  }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: none;
  font-weight: bold;
  font-size: larger;
  color: $cyan;
}

.navbar-default .navbar-nav > li > a {
  color: $white;
}