@import "variables-styles";
@import "mixins-styles";

.navbar {
  margin-bottom:0;
  border-radius: 0;
}

.navbar-default {
  background-color: $brown;
  border: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background: none;
  font-weight:bold;
  font-size: larger;
  color: $white;
}
.navbar-default .navbar-nav>li>a {
  color: $white;
}

nav img{
  margin: 0.3em;
}