.button {
  display: inline-block;
  border-radius: 15px;
  text-shadow: 0 2px 10px #000;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  background-color: #0bcbcc;
  transition: background-color linear;
  color: #fff;
  border: medium #698799;
  text-decoration: none; }
  .button:hover {
    font-weight: bold; }

.button-submit {
  background-color: rgba(59, 32, 16, 0.7);
  font-size: 50px;
  padding: 25px;
  text-transform: uppercase; }
  .button-submit:hover {
    background-color: rgba(139, 76, 38, 0.7); }

.button-info {
  font-size: 16px;
  padding: 10px 40px; }
  .button-info:hover {
    background-color: rgba(69, 87, 99, 0.1); }

/* START: Footer style */
footer .media h4 {
  text-align: center;
  color: #fff;
  letter-spacing: 4px;
  word-spacing: 4px; }

.media {
  background-color: rgba(59, 32, 16, 0.7);
  margin: 1% 0; }

.media-icons a {
  padding: 1%; }

.media-icons {
  display: flex;
  justify-content: center;
  padding: 1%; }

.media img {
  margin: 5% 5%;
  transition: all 0.5s ease; }

.media img:hover {
  transform: rotate(-30deg); }

/*END: style footer*/
.caption h3 {
  text-align: center; }

.thumbnail {
  border: none; }

/*START func-list*/
.func-list {
  letter-spacing: 4px;
  word-spacing: 4px; }
  .func-list div {
    display: block;
    height: 359px;
    margin: 1% auto;
    background-size: cover;
    position: relative; }
  .func-list h1 {
    font-weight: 900;
    color: #fff;
    background: rgba(0, 0, 0, 0.75); }

.text-list {
  background: rgba(255, 255, 255, 0.75);
  color: black;
  position: absolute;
  top: auto;
  right: 5%;
  bottom: 5%;
  left: 5%; }

#text-list2 {
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: auto;
  left: 10%; }

.list1 {
  background: #fff url("../images/func-list/cat_teddy.jpg"); }
  .list1 h1 {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: auto;
    left: 10px; }

.list2 {
  background: #fff url("../images/func-list/fox.jpg"); }
  .list2 h1 {
    position: absolute;
    top: auto;
    right: 10px;
    bottom: 5px;
    left: 10px; }

.list3 {
  background: #fff url("../images/func-list/pupper.jpg"); }
  .list3 h1 {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: auto;
    left: 10px; }

@media screen and (min-width: 801px) and (max-width: 1201px) {
  .func-list div {
    display: block; }

  .list1 {
    padding-left: 5%;
    float: left; }

  .list2 {
    padding-right: 5%;
    float: right; }

  .list3 {
    clear: both; } }
@media screen and (min-width: 1201px) {
  .func-list {
    display: flex;
    flex-direction: row;
    margin: auto; }
    .func-list div {
      transition: all 1s; }
      .func-list div:hover {
        transform: scale(1.2);
        z-index: 1; }
        .func-list div:hover .text-list {
          visibility: visible; }

  .text-list {
    visibility: hidden; }

  .list1:hover {
    transform-origin: left 2px; }

  .list2:hover {
    transform-origin: center 0; }

  .list3:hover {
    transform-origin: right 2px; } }
/*END: styli func-list*/
@media screen and (max-width: 799px) {
  nav {
    margin: 0;
    width: 100%; }
    nav ul {
      font-size: 20px;
      background-color: rgba(59, 32, 16, 0.7);
      margin: 0;
      padding: 0;
      display: flex;
      position: fixed;
      width: 100%;
      z-index: 999999; }
      nav ul .visible {
        font-size: 20px;
        background-color: rgba(59, 32, 16, 0.7);
        margin: 0;
        padding: 0;
        position: fixed;
        width: 100%;
        z-index: 999999; }
        nav ul .visible li {
          display: block;
          list-style-type: none;
          justify-content: flex-end;
          padding: 10px; }
          nav ul .visible li a {
            color: #fff;
            background-color: transparent;
            display: block;
            padding: 1rem 2rem;
            text-decoration: none; }
            nav ul .visible li a img {
              max-width: 60px;
              min-width: 30px;
              width: 100%; }
          nav ul .visible li a:hover {
            background-color: #fff;
            color: rgba(59, 32, 16, 0.7); }
        nav ul .visible li:first-child {
          margin-right: auto; }
    nav div {
      margin-left: auto; }
      nav div li {
        display: none; }
        nav div li .visible {
          display: block; }
          nav div li .visible .menu-trigger a {
            color: #fff;
            background-color: transparent;
            display: block;
            padding: 1rem 2rem;
            text-decoration: none;
            text-align: right; }

  #menu-short {
    color: #fff;
    background-color: transparent;
    display: block;
    padding: 1rem 2rem;
    text-decoration: none; } }
.active {
  font-weight: bold; }

.logo:hover {
  background-color: transparent; }

@media screen and (min-width: 800px) {
  .menu-trigger {
    display: none; }

  nav {
    margin: 0;
    width: 100%; }
    nav ul {
      font-size: 20px;
      background-color: rgba(59, 32, 16, 0.7);
      margin: 0;
      padding: 0;
      display: flex;
      position: fixed;
      width: 100%;
      z-index: 999999; }
      nav ul li {
        display: inline-block;
        list-style-type: none;
        justify-content: flex-end;
        padding: 10px; }
        nav ul li a {
          color: #fff;
          background-color: transparent;
          display: block;
          padding: 1rem 2rem;
          text-decoration: none; }
          nav ul li a img {
            max-width: 60px;
            min-width: 30px;
            width: 100%; }
        nav ul li a:hover {
          background-color: #fff;
          color: rgba(59, 32, 16, 0.7); }
      nav ul li:first-child {
        margin-right: auto; } }
.active {
  font-weight: bold; }

.logo:hover {
  background-color: transparent; }

html, body {
  font-family: "Scope One", sans-serif;
  background-color: #fff;
  color: #698799;
  margin: 0;
  padding: 0; }

h1 {
  color: #698799;
  font-family: "Arima Madurai", serif; }

h2 {
  color: #0bcbcc; }

/*START: main-photo + FUTRZAK*/
.main-photo {
  font-family: "Arima Madurai", serif;
  background: url(../images/happy-pet.jpg) fixed no-repeat center center;
  background-size: cover;
  font-size: 150px;
  text-align: center;
  display: block;
  position: static;
  text-shadow: 0 7px 10px #000; }
  .main-photo h1 {
    color: #0bcbcc;
    margin: inherit; }
  .main-photo p {
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 2px;
    position: relative;
    margin: inherit; }

#main-header {
  text-align: center;
  margin: inherit;
  padding-top: 15%; }

.motto {
  display: block;
  background-color: rgba(69, 87, 99, 0.1);
  margin: inherit;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #698799; }

.introduction {
  font-size: 20px;
  color: #fff;
  text-indent: 5%;
  background-color: rgba(59, 32, 16, 0.7);
  text-align: center;
  padding: 50px;
  margin: 10px;
  text-shadow: 0 2px 10px #000; }

/*END: main photo + FUTRZAK*/
/* START: product list */
.product-list {
  font-size: 18px;
  font-family: "Arima Madurai", serif;
  font-weight: bold;
  color: #698799;
  background-color: rgba(69, 87, 99, 0.1);
  text-align: center;
  padding: 50px;
  margin: 10px; }
  .product-list ul {
    list-style-type: none; }

/* END: product list */
/* START: Style sekcji formularz */
#form-submit {
  text-align: center;
  padding: 50px;
  margin: 10px;
  background: #fff no-repeat left bottom;
  background-position-x: 25px; }

.email-input {
  font-size: 30px;
  margin: 20px; }

.article-styles {
  color: rgba(59, 32, 16, 0.7); }

/* KONIEC Style sekcji formularz */
@media screen and (min-width: 1201px) {
  .main-photo {
    font-size: 220px; } }

/*# sourceMappingURL=style.css.map */
