@import "variables";
@import "mixins-styles";
@import '_nav-style.scss';

body {
  font-family: $norm-font;
  background-color: #fff;
  color: $grey;
}

h1 {
  color: $grey;
  font-family: $head-font;
}

h2 {
  color: $cyan;
}

//START navbar
//nav {
//  background-color: rgb(59, 32, 16);
//  color: $white;
//
//  ul {
//    z-index: 9999999;
//    color: $white;
//    list-style-type: none;
//    margin: 0;
//    padding: 0;
//    overflow: hidden;
//    background-color: $brown;
//    position: fixed;
//    top: 0;
//    width: 100%;
//    li {
//      float: right;
//      a {
//        display: block;
//        color: $white;
//        text-align: center;
//        padding: 30px 16px;
//        text-decoration: none;
//        transition: all 0.5s ease-out;
//        font-size: 20px;
//      }
//
//      a:hover:not(.active) {
//        background-color: lighten($brown, 20%);
//      }
//
//      //TODO - podświetlenie przewijanych sekcji
//      //a:active {
//      //  background-color: $white;
//      //}
//    }
//    img {
//      padding: 10px 0 0 10px;
//    }
//
//  }
//  clear: right;
//}

//END navbar

/*START: main-photo + FUTRZAK*/
.main-photo {
  font-family: "Arima Madurai", serif;
  background-image: url(../images/happy-pet.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 220px;
  text-align: center;
  z-index: 1;
  display: block;
  position: static;
  text-shadow: 0 7px 10px #000;
  h1 {
    color: $cyan;
    margin: inherit;
  }
  p {
    color: $white;
    font-size: 50px;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 2px;
    position: relative;
    margin: inherit;
  }
}

#pet-header {
  font-size: 250px;
  text-align: center;
  color: $light;
  background-size: cover;
  background: url(../images/happy-pet.jpg) no-repeat center;
  margin: inherit;
  z-index: 1;
  display: block;
  position: static;
  padding-top: 60px;
  padding-bottom: 1px;
  text-shadow: 0 7px 10px #000;
}

.page-description {
  display: block;
  background-color: $light;
  margin: inherit;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: $grey;
}

#info-button {
  color: $white;
  background-color: $cyan;
  text-shadow: 0 2px 10px #000;
  border: medium $grey;
  width: 170px;
  height: 80px;
  font-size: 16px;
  text-align: center;
  transition: background-color 1s linear 0.05s;
  z-index: 9999;
  position: fixed;
  display: block;
  &:hover {
    background-color: $light;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
  }
}

.pet-text {
  font-size: 20px;
  color: $white;
  text-indent: 5%;
  background-color: $brown;
  text-align: center;
  padding: 50px;
  margin: 10px;
  text-shadow: 0 2px 10px #000;
}

button {
  border-radius: 15px;
  text-shadow: 0 2px 10px #000;
}

/*END: main photo + FUTRZAK*/

/*START func-list*/
.func-list {
  width: 100%;
  height: 359px;
  display: flex;
  justify-content: space-around;
  letter-spacing: 4px;
  word-spacing: 4px;
  div {
    margin: 10px;
    background-size: cover;
    position: relative;
    transition: all 1s;
    &:hover {
      transform: scale(1.2);
      z-index: 1;
      .text {
        visibility: visible;
      }
    }
  }
  h1 {
    font-weight: 900;
    color: $white;
    background: rgba(0, 0, 0, 0.75);
  }
}

.text {
  background: rgba(255, 255, 255, 0.75);
  color: black;
  visibility: hidden;
  @include func-header(auto, 30px, 30px, 30px);
}

#text2 {
  @include func-header(30px, 30px, 100px, 30px);
}

.list1 {
  flex: 1 100%;
  background: $white url("../images/func-list/cat_teddy.jpg");
  &:hover {
    transform-origin: left 2px;
  }
  h1 {
    @include func-header(10px, 10px, auto, 10px);
  }
}

.list2 {
  flex: 2 100%;
  background: $white url("../images/func-list/fox.jpg");
  &:hover {
    transform-origin: center 0;
  }
  h1 {
    @include func-header(auto, 10px, 5px, 10px);
  }
}

.list3 {
  flex: 3 100%;
  background: $white url("../images/func-list/pupper.jpg");
  &:hover {
    transform-origin: right 2px;
  }
  h1 {
    @include func-header(10px, 10px, auto, 10px);
  }
}

/*END: styli func-list*/

/* START: product list */

.product-list {
  font-size: 18px;
  font-family: $head-font;
  font-weight: bold;
  color: $grey;
  background-color: $light;
  text-align: center;
  padding: 50px;
  margin: 10px;
  ul {
    list-style-type: none;
  }
}

/* END: product list */

/* START: Style sekcji formularz */
#sc-form-submit {
  text-align: center;
  padding: 50px;
  margin: 10px;
  background: $white no-repeat left bottom;
  background-position-x: 25px;
}

.email-input {
  font-size: 30px;
  margin: 20px;
}

.button-submit {
  background-color: $brown;
  font-size: 50px;
  padding: 25px;
  color: $white;
  text-transform: uppercase;
  transition: background-color linear;
  border: medium $grey;
  &:hover {
    background-color: lighten($brown, 20%);
    font-weight: bold;
    cursor: pointer;
  }
}

.article-styles {
  color: $brown;
}

/* KONIEC Style sekcji formularz */

/* START: Footer style*/
footer {
  background-color: $brown;
  width: auto;
  margin: 20px 20px;
  padding: 20px 20px;
  color: $white;
  h1 {
    color: $white;
    margin: 20px 40%;
    text-align: center;
    border: 10px solid transparent;
    border-image: url(../images/paw.png) 100% round;
  }
  p {
    text-align: center;
    letter-spacing: 4px;
    word-spacing: 4px;
    font-size: larger;
  }
  div {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  figure {
    padding: 10px;
    margin: 10px;
  }
  figcaption {
    text-align: center;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
  }
}

.user {
  height: 96px;
  width: 96px;
}

.media {
  margin: 10px 0;
  img {
    margin: 20px 20px;
    transition: all 0.5s ease;
    &:hover {
      transform: rotate(-30deg);
    }
  }
}

/*END: style footer*/

button {
  border-radius: 15px;
  text-shadow: 0 2px 10px #000;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  background-color: $cyan;

}

.button-section1 {
  text-shadow: 0 2px 10px #000;
  border: medium $grey;
  width: 120px;
  height: 30px;
  position: relative;
  font-size: 16px;
  color: $white;
  float: right;
}

.button-section2 {
  text-shadow: 0 2px 10px #000;
  border: medium $grey;
  width: 120px;
  height: 30px;
  position: relative;
  font-size: 16px;
  color: $white;
  float: right;
}

.button-section3 {
  text-shadow: 0 2px 10px #000;
  border: medium $grey;
  width: 120px;
  height: 30px;
  position: relative;
  font-size: 16px;
  color: $white;
  float: right;
}

.button-section4 {
  border: medium rgb(69, 87, 99);
  width: 120px;
  height: 30px;
  position: relative;
  font-size: 16px;
  color: $white;
  float: right;
}

