@import "variables-styles";
@import "button";
@import "mixins-styles";
@import "foo-style";
@import "funclist-style";
@import "nav-style";

/*START reset ustawień przeglądarek www - initial propose*/
/*html, body {
  margin: 0;
  padding: 0;
  border: 0;
}*/
/*END reset ustawień przeglądarek www*/

body {
  font-family: $norm-font;
  background-color: #fff;
  color: $grey;
  margin: 0;
}

h1 {
  color: $grey;
  font-family: $head-font;
}

h2 {
  color: $cyan;
}

/*START: main-photo + FUTRZAK*/
.main-photo {
  font-family: $head-font;
  background: url(../images/happy-pet.jpg) fixed no-repeat center center;
  background-size: cover;
  font-size: 150px;
  text-align: center;
  display: block;
  position: static;
  text-shadow: 0 7px 10px #000;

  h1 {
    color: $cyan;
    margin: inherit;
  }

  p {
    color: $white;
    font-size: 30px;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 2px;
    position: relative;
    margin: inherit;
  }
}

#main-header {
  text-align: center;
  margin: inherit;
  padding-top: 15%;
}

.motto {
  display: block;
  background-color: $light;
  margin: inherit;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: $grey;
}

.introduction {
  font-size: 20px;
  color: $white;
  text-indent: 5%;
  background-color: $brown;
  text-align: center;
  padding: 50px;
  margin: 10px;
  text-shadow: 0 2px 10px #000;
}

/*END: main photo + FUTRZAK*/

/* START: product list */

.product-list {
  font-size: 18px;
  font-family: $head-font;
  font-weight: bold;
  color: $grey;
  background-color: $light;
  text-align: center;
  padding: 50px;
  margin: 10px;
  ul {
    list-style-type: none;
  }
}

/* END: product list */

/* START: Style sekcji formularz */
#form-submit {
  text-align: center;
  padding: 50px;
  margin: 10px;
  background: $white no-repeat left bottom;
  background-position-x: 25px;
}

.email-input {
  font-size: 30px;
  margin: 20px;
}

.article-styles {
  color: $brown;
}

/* KONIEC Style sekcji formularz */

@media screen and (min-width: 1201px) {
  .main-photo {
    font-size: 220px;
  }
}
