footer {
    border: 1px solid black;
    margin: auto;
}
footer h1 {
    text-align: center;
    /*color: white;*/

}
/*.team figure {*/
footer figure {
    display: inline;
    float: left;
    /*margin: 15px;*/
    border: 1px solid black;
    /*width: auto;*/
}
footer figcaption {
    display: inline;
}
/*.team img {*/
    /*width: 50%;*/
    /*height: 50%;*/
/*}*/


/* Style sekcji formularz */
#sc-form-submit {
    background-color: chartreuse;
    text-align: center;
}

/* KONIEC Style sekcji formularz */
