.funkcje-produktu {
    width: 560px;
    padding: 30px;
    line-height: 1.5;
}


footer h1 {
    text-align: center;
    /*color: white;*/

}
.team {

}
.team figure {
    display: inline;
    width: 20%;
    float: left;
    margin: 15px;
}
.team figcaption {
    text-align: center;
}
/*.team img {*/
    /*width: 50%;*/
    /*height: 50%;*/
/*}*/


/* Style sekcji formularz */
#sc-form-submit {
    background-color: chartreuse;
    text-align: center;
}

/* KONIEC Style sekcji formularz */


#pet-header {
    font-size:300px;
    font-family: "Lohit Bengali";
    text-align: center;
    color:darkblue;

}
